body { background: #c32084; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 16px; display: flex; }
.block-search-0 { color: #3fecf9; font-size: 12px; margin-bottom: 5px; }
.block-helper-1 { color: #c81272; font-size: 16px; margin-bottom: 5px; }
.block-payment-2 { color: #2b89a2; font-size: 13px; margin-bottom: 5px; }
.block-uploader-3 { color: #479391; font-size: 15px; margin-bottom: 5px; }
.block-uploader-4 { color: #ddf7f0; font-size: 14px; margin-bottom: 5px; }
.block-auth-5 { color: #70fb75; font-size: 12px; margin-bottom: 5px; }